# Created by .ignore support plugin (hsz.mobi)

.idea/
template.iml
_site/
.sass-cache/

.DS_Store
projects/.DS_Store
essays/2015-08-26.md                              
essays/2015-09-08.md                               
essays/2016-02-06.md
